@model ResponseModel<LoginViewModel>

@{
	Layout = null;

	// bool IsVendor = Common.Get_Session_Int(SessionKey.KEY_IS_VENDOR) == 1;
	// bool IsCustomer = Common.Get_Session_Int(SessionKey.KEY_IS_CUSTOMER) == 1;
	// bool IsEmployee = Common.Get_Session_Int(SessionKey.KEY_IS_EMPLOYEE) == 1;

	// string UserType = Common.Get_Session("Employee_UserType");
}

<div class="col-md-12">

	
	<div class="table-responsive-sm mt-3" id="divProjectSiteDocList">
		<table class="table table-bordered table-centered mb-0">
			<thead>
				<tr>
					<th width="20%">Next FollowUp Date</th>
					<th>Reminder Date</th>
					<th width="10%">Remarks</th>					
				</tr>
			</thead>
			<tbody>
				@if (Model.Obj != null)
				{
					foreach (var item in Model.Obj.LeadFollowupList)
					{
						<tr>
							<td>@item.NextFollowupDate?.ToString(Common.DateTimeFormat_ddMMMyyyy)</td>
							<td>@item.ReminderDatetime?.ToString(Common.DateTimeFormat_ddMMMyyyy)</td>
							<td>@item.Remark</td>							
						</tr>
					}
				}
			</tbody>
		</table>
	</div>

</div>

@section Scripts {
	<script type="text/javascript">
		$(document).ready(function () {

		});
	</script>
}
